//-	===============
//-	MIXINS
//-	===============
mixin secondaryMenuItem(title, num)
	li
		a(href='#') #{title}
		ul.sub
			mixin addListLinks(1,4)


mixin addListLinks(start, end, title)
	- if (title == undefined) title = 'Menu item';
	- for (var i = start; i <= end; i++) {
		li: a(href='') #{title} #{i}
	- }

mixin addLinks(start, end, title)
	- if (title == undefined) title = 'Menu item';
	- for (var i = start; i <= end; i++) {
		a(href='') #{title} #{i}
	- }
	





//-	===============
//-	PAGE START
//-	===============

!!! 5
//[if lt IE 7]> <html lang="en" class="no-js oldie lt-ie9 lt-ie8 lt-ie7"><![endif]
//[if IE 7]>    <html lang="en" class="no-js oldie lt-ie9 lt-ie8"><![endif]
//[if IE 8]>    <html lang="en" class="no-js oldie lt-ie9"><![endif]
//[if gt IE 8]><!
html.no-js(lang="en")
	// <![endif]


	//-	===============
	//-	HEAD
	//-	===============
	block head
		head
			meta(charset='UTF-8')
			meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
			title
				block pageTitle
			meta(name='description', content='Description about your department.')
			meta(name='author', content='Your Department Name')
			meta(name='keywords', content='keyword 1, keyword 2, keyword 3')
			meta(name='viewport', content='width=device-width, , initial-scale=1')

			// Place favicon.ico and apple-touch-icon.png in the root directory
			link(rel='shortcut icon', href='favicon.ico')

			// Styles
			link(rel='stylesheet', href='//cloud.typography.com/75214/740862/css/fonts.css')
			link(rel='stylesheet', href='css/base.css')
			link(rel='stylesheet', href='css/responsive.css', media='all and (min-width:16em)')

			// Scripts loaded via script loader. See notes in init.js file.
			script(src='js/modernizr.js')
			block settings
				script.
					// Use these settings to control the default scripts in the BYU template
					window.pageSettings = {
						jQueryURL:      "http://byuweb.github.io/Global-Assets/js/jquery-1.10.2.min.js", // Use this default, or load jQuery from somewhere else
						jQueryVersion:  "1.10.2", // The jQuery version for fallback in case there's a problem loading jQuery
						additionalScripts: [], // Array of strings specifying URLs for additional scripts to load

						loadslider:     false, // Whether the image slider is present on the page
						
						gcse_search:    true, // Use the Google Custom Search Engine for the site's search?
						gcse_search_id: '009932716493032633443:hlqjz33kfkc',  // Use this BYU GCSE id, or insert your own

						analytics_key:  'UA-XXXXX-X' // Insert your Google Analytics key
					}
			script(src='js/init.js')


	//-	===============
	//-	BODY START
	//-	===============
	body
		//if lt IE 7
			p.chromeframe
				| You are using an
				strong outdated
				| browser. Please
				a(href='http://browsehappy.com/') upgrade your browser
				| or
				a(href='http://www.google.com/chromeframe/?redirect=true') activate Google Chrome Frame
				| to improve your experience.




		//-	===============
		//-	HEADER
		//-	===============
		block header
			header#main-header(role='banner')
				#header-top.wrapper
					#logo
						h2
							block parentlink
								a.byu(href='http://www.byu.edu/') Brigham Young University

					// This should link to your organization's home page
					h1
						a#site-name(href='#', title="Change this link to your organization's home page")
							block heading
								| Organization Title
					block sign-in
						a.sign-in.button(href='http://home.byu.edu/home/cas') Sign in




		//-	===============
		//-	SEARCH
		//-	===============
		block search-menu
			#search-menu
				#search-container(role='search')

					//
						| The default search form, linking to BYU's search page. If a user does not have javascript enabled, they'll get this form.
						| If they have javascript, this content will be replaced with Google's custom search (from the script at the bottom of the page).
					form#basic-search(action='http://home.byu.edu/home/search', role='form')
						label.visuallyhidden(for='search') Search
						input#search(type='search', name='search')
						input#search-submit(type='submit', value='Search')

					// This container holds the Google custom search, if enabled
					.gcse-wrapper
						gcse:search


				//-	===============
				//-	MENU BUTTON
				//-	===============
				block menu-button
					a.menu-button(href="#primary-nav") Menu





		//-	===============
		//-	MAIN CONTENT WRAPPER
		//-	===============
		block contentwrapper
			- if( typeof(contentclasses) == 'undefined') { var contentclasses = '' }
			#content(class='wrapper clearfix #{contentclasses}', role='main')
				



				//-	===============
				//-	BREADCRUMB
				//-	===============

				block breadcrumb
					// Breadcrumb
					ul.breadcrumb
						li
							.dropdown
								a.home.dropdown-toggle.needsclick(href="", data-toggle="dropdown")
									i.fa.fa-home.fa-lg
									span.visuallyhidden Home
									i.fa.fa-caret-down
								ul.dropdown-menu
									li: a(href='www.byu.edu') BYU Home
									li: a(href='#') Organization Home
									li: a(href='#') Two Pages Above
								i.divider.fa.fa-angle-right
						li
							a(href="#") One page above
							i.divider.fa.fa-angle-right
						li.active Current Page




				//-	===============
				//-	CONTENT
				//-	===============
				block content



				//-	===============
				//-	CONTENT
				//-	===============
				block sidenav


		//-	===============
		//-	NAV
		//-	===============
		block nav
			.nav-container

				// Primary Nav
				nav#primary-nav(role='navigation'): ul
					li 
						a.single.current(href='#') Current tab
					li
						a(href='') Mega Dropdown Menu
						.mega
							ul.links
								li.featured: ul
									mixin addListLinks(1,2,'Featured Link')
								li
									a(href='#') Menu item 1
								li
									a(href='#') Menu item 2
									ul.sublinks
										mixin addListLinks(1,3,'Submenu item')
								mixin addListLinks(3,6)
							.highlight
								a(href='#'): img(src="images/menu/menu1.jpg", alt="Menu image 1")
								p: a(href='#') Picture Link
								p Text text text text text.
							.highlight
								a(href='#'): img(src="images/menu/menu2.jpg", alt="Menu image 2")
								p: a(href='#') Picture Link
								p Text text text text text.
					li
						a(href='') Double Mega Dropdown Menu
						.mega
							ul.links.double
								li.featured: ul
									mixin addListLinks(1,2,'Featured Link')
								li.left: ul
									li
										a(href='#') Menu item 1
									li
										a(href='#') Menu item 2
										ul.sublinks
											mixin addListLinks(1,5,'Submenu item')
									mixin addListLinks(3,6)
								li.left: ul
									mixin addListLinks(7,12)
							.highlight
								a(href='#'): img(src="images/menu/menu1.jpg", alt="Menu image 3")
								p: a(href='#') Picture Link
								p Text text text text text.
							.highlight
								a(href='#'): img(src="images/menu/menu2.jpg", alt="Menu image 4")
								p: a(href='#') Picture Link
								p Text text text text text.
					li
						a(href='') Basic Dropdown Menu
						.sub: ul.links
							mixin addListLinks(1,4)
					li
						a.single(href='') Direct Menu Link

				// Secondary Nav
				nav#secondary-nav(role='navigation'): ul
					mixin secondaryMenuItem('SecMenu1', 4)
					mixin secondaryMenuItem('SecMenu2', 4)
					mixin secondaryMenuItem('SecMenu3', 4)



		//-	===============
		//-	FOOTER
		//-	===============
		block footer
			footer#page-footer(role='contentinfo')
				#footer-links
					.wrapper
						.col.alpha
							h2 Footer Column 1
							mixin addLinks(1,4)
						.col
							h2 Footer Column 2
							mixin addLinks(1,4)
						.col.double
							h2 Footer Double Column
							.left.alpha
								mixin addLinks(1,4, "Left Link")
							.right.omega
								mixin addLinks(1,4, "Right Link")
						.col.omega
							h2 Footer Column 4
							mixin addLinks(1,4)

				#footer-bottom
					.wrapper.clearfix
						//a#byu(href='http://byu.edu/') Brigham Young University
						a#byui.ir(href='http://byui.edu/') BYU-Idaho
						a#byuh.ir(href='http://byuh.edu/') BYU-Hawaii
						a#ldsbc.ir(href='http://www.ldsbc.edu/') LDS Business College

						a#lds(href='http://lds.org/') The Church of Jesus Christ of Latter-day Saints

			//
				| CONTENT END



		//- ===============
		//- END SCRIPTS
		//- ===============
		block end-scripts

			script.
				/* Google Analytics: change UA-XXXXX-X to be your site's ID. */
				var _gaq=[['_setAccount', pageSettings.google_analytics_key],['_trackPageview']];
				(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
				g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
				s.parentNode.insertBefore(g,s)}(document,'script'));
